<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="{{ url_for('logout') }}" class="cerrarsesion">Cerrar sesión</a>
                <a href="{{ url_for('getmail') }}" class="login-button">Obtener correo</a> <!-- hay que especificar el NOMBRE DE LA FUNCION Y NO LA URL, lo que pasa es que se llaman igual -->
                <a href="{{ url_for('addmail') }}" class="addcorreo">Añadir correo</a>
            </ul>
        </nav>
    </header>
    <div class="titulo">
        <h1>Bienvenido, {{ name }}!</h1>
        <p>Tu sesión ha sido iniciada correctamente.</p>
    </div>
</body>
</html>
